@model Uride.Models.Voznik

@{
    ViewData["Title"] = "Izbris";
}

<h2>Izbris</h2>

<h3>Ali ste prepričani da želite izbrisati sledeči zapis?</h3>
<div>
    <h4>Voznik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priimek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobStev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobStev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Upokojen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Upokojen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpImeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpImeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Avto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Avto.Model)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StVozniske" />
        <input type="submit" value="Izbriši" class="btn btn-default" /> |
        <a asp-action="Index">Nazaj na seznam</a>
    </form>
</div>
