@model Uride.Models.Voznik

@{
    ViewData["Title"] = "Podrobnejši podatki";
}

<h2>Podrobnejši podatki</h2>

<div>
    <h4>Voznik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priimek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt>
            Telefonska številka
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobStev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Upokojen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Upokojen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpImeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpImeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Avto.Znamka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avto.Znamka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avto.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avto.Model)
        </dd>

        <dt>
            Cena prevoženega km
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avto.CenaKm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StVozniske">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam vseh</a>
</div>
