@model IEnumerable<Uride.Models.Voznik>

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Vozniki";
}

<h2>Vozniki</h2>

<p>
    @if (!signInManager.IsSignedIn(User))
    {
        var currentUser = await userManager.GetUserAsync(User);
        var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, "Admin");
        if (isAdmin)
        {
            <a asp-action="Create">Ustvari novega voznika</a>
        }
    }   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priimek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                Telefonska Številka
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upokojen)
            </th>
            <th>
                Avtomobil
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priimek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naslov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobStev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Upokojen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avto.Znamka) @Html.DisplayFor(modelItem => item.Avto.Model)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StVozniske">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.StVozniske">Podrobnejši podatki</a> |
                    Voznika se ne briše, samo ureja!
                    <!--<a asp-action="Delete" asp-route-id="@item.StVozniske">Izbriši</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>
