@model Uride.Models.Vozilo

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vozilo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Znamka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Znamka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CenaKm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CenaKm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StSedezev)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StSedezev)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AvtoId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
