@model Uride.Models.Voznja

@{
    ViewData["Title"] = "Podrobnejši podatki";
}

<h2>Podrobnejši podatki</h2>

<div>
    <h4>Voznja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Dolžina poti
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DolzinaPoti)
        </dd>
        <dt>
            Stranka
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uporabnik.Ime) @Html.DisplayFor(model => model.Uporabnik.Priimek)
        </dd>
        <dt>
            Voznik
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voznik.Ime) @Html.DisplayFor(model => model.Voznik.Priimek)
        </dd>
        <dt>
            Vozilo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voznik.Avto.Znamka) @Html.DisplayFor(model => model.Voznik.Avto.Model)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VoznjaId">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam vseh</a>
</div>
