@model IEnumerable<Uride.Models.Voznja>

@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Vožnje";
}

<h2>Vožnje</h2>

<p>
    @if (signInManager.IsSignedIn(User))
    {
        var currentUser = await userManager.GetUserAsync(User);
        var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, "Admin");
        var isDriver = currentUser != null && await userManager.IsInRoleAsync(currentUser, "Driver");
        if (isAdmin || isDriver)
        {
            <a asp-action="Create">Ustvari novo vožnjo</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dolžina poti
            </th>
            <th>
                Ime in priimek Stranke
            </th>
            <th>
                Ime in priimek Voznika
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DolzinaPoti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uporabnik.Ime) @Html.DisplayFor(modelItem => item.Uporabnik.Priimek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voznik.Ime) @Html.DisplayFor(modelItem => item.Voznik.Priimek)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VoznjaId">Uredi</a> |
                    <a asp-action="Details" asp-route-id="@item.VoznjaId">Podrobnejši podatki</a> |
                    @if (!signInManager.IsSignedIn(User))
                    {
                        var currentUser = await userManager.GetUserAsync(User);
                        var isAdmin = currentUser != null && await userManager.IsInRoleAsync(currentUser, "Admin");
                        var isDriver = currentUser != null && await userManager.IsInRoleAsync(currentUser, "Driver");
                        if (isAdmin || isDriver)
                        {
                            <a asp-action="Delete" asp-route-id="@item.VoznjaId">Izbriši</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
