@model Uride.Models.Transakcija

@{
    ViewData["Title"] = "Podrobnejši podatki";
}

<h2>Podrobnejši podatki</h2>

<div>
    <h4>Transakcija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Znesek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Znesek) €
        </dd>

        <dt>
            Dolžina poti
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdvoznjeNavigation.DolzinaPoti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdvoznjeNavigation.VoznjaId)
        </dt>

        <dd>
            <a href="/Voznje/Details/@Html.DisplayFor(model => model.IdvoznjeNavigation.VoznjaId)">@Html.DisplayFor(model => model.IdvoznjeNavigation.VoznjaId)</a>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StRacuna">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam vseh</a>
</div>
