@model IEnumerable<Uride.Models.Transakcija>

@{
    ViewData["Title"] = "Računi";
}

<h2>Računi</h2>

<p>
    Nov račun se ustvari skupaj s potjo!
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Znesek)
            </th>
            <th>
                Dolžina poti
            </th>
            <th>
                <center>Identifikacijska številka vožnje</center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Znesek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdvoznjeNavigation.DolzinaPoti)
            </td>
            <td>
                <center><a href="/Voznje/Details/@Html.DisplayFor(modelItem => item.IdvoznjeNavigation.VoznjaId)">@Html.DisplayFor(modelItem => item.IdvoznjeNavigation.VoznjaId)</a></center>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StRacuna">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.StRacuna">Podrobnejši podatki</a> |
                <a href="/Voznje/Delete/@Html.DisplayFor(modelItem => item.IdvoznjeNavigation.VoznjaId)">Za izbris računa je potrebno izbrisati pot!</a>
            </td>
        </tr>
}
    </tbody>
</table>
