@model IEnumerable<Uride.Models.Stranka>

@{
    ViewData["Title"] = "Stranke";
}

<h2>Stranke</h2>

<p>
    <a asp-action="Create">Ustvari novo stranko</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priimek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                Telefonska številka
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priimek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobStev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StrankaId">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.StrankaId">Podrobnejši podatki</a> |
                <a asp-action="Delete" asp-route-id="@item.StrankaId">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
